<!DOCTYPE html>
<html>
<head>
    
    <title>Image Gallery</title>
    <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  {% load static %}
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">


  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    <style>
        .gallery-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .gallery-item {
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            width: 200px;
            text-align: center;
        }
        .gallery-item img {
            width: 100%;
            height: auto;
        }
        .gallery-item p {
            padding: 10px;
        }
    </style>
</head>
<body>
    
    <h1>Image Gallery</h1>
    <div class="gallery-container">
        {% for image in images %}
        <div class="gallery-item">
            <img src="{{ image.image.url }}" alt="{{ image.title }}">
            <p>{{ image.title }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>

